#qn-banner-cont{height:170px;width:100%}
#qn-banner-cont .qn-banner{position:fixed;bottom:0;width:100%;height:170px;z-index:100000;_position:absolute;background:#1a2634;_bottom:auto;opacity:.85;overflow:hidden;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}
#qn-banner-cont .qn-banner-dis{height:140px;width:170px;_position:absolute;position:fixed;bottom:0;z-index:100000;left:-200px;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src="//s.qunarzz.com/train_search/images/yindaoGuide.png");background:url(//s.qunarzz.com/train_search/images/yindaoGuide.png) no-repeat scroll 0 0}
#qn-banner-tic{margin:0 auto;height:100%;width:1150px;position:relative;padding:30px 0;box-sizing:border-box}
#qn-banner-tic .close{width:46px;height:46px;top:0;right:20px;position:absolute;cursor:pointer;-webkit-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s;background:url(//source.qunarzz.com/train/images/qn_close.png) no-repeat;background-size:46px 46px;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src="//source.qunarzz.com/train/images/qn_close.png")}
#qn-banner-cont .qn-banner-close:hover{animation:close .5s}
@keyframes close{from{-webkit-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg)}
}
#qn-banner-cont .routine_code{margin-left:50px}
#qn-banner-cont .qn-banner-left,#qn-banner-cont .qn-banner-right{width:50%;_width:49%;height:100%;float:left;position:relative}
#qn-banner-cont .section-qunar,#qn-banner-cont .section-train{margin-right:80px;overflow:hidden}
#qn-banner-cont .section-qunar img,#qn-banner-cont .section-train img{float:left}
#qn-banner-cont .section-train .trainLuotuo{position:absolute;top:-20px;left:-20px}
#qn-banner-cont .main{float:left;margin-left:15px}
#qn-banner-cont .section-train .main{margin-left:133px}
#qn-banner-cont .main .t1{color:#fff;font-family:寰蒋闆呴粦;font-size:28px}
#qn-banner-cont .main .t2{font-size:18px;color:#c8c8c8;font-family:寰蒋闆呴粦}
#qn-banner-cont .main .t2 .highlight{color:#1ba9ba}
#qn-banner-cont .section-train .main .t2 .highlight{color:#ff9603}
#qn-banner-cont .main .op{margin-top:6px;font-size:18px}
#qn-banner-cont .main .op a{display:inline-block;color:#1ba9ba;border:1px solid #1ba9ba;width:126px;height:32px;line-height:32px;border-radius:4px;text-align:center;margin-right:10px;cursor:pointer}
#qn-banner-cont .main .op a .icon{display:inline-block;width:18px;height:21px;margin-right:8px;background:url(//s.qunarzz.com/train_search/images/yindaoIcons.png) no-repeat;position:relative;top:2px}
#qn-banner-cont .main .op a .qunar_iph{background-position:0 -31px}
#qn-banner-cont .main .op a .qunar_andr{background-position:-28px -31px}
#qn-banner-cont .section-train .main .op a{color:#ff9603;border:1px solid #ff9603}
#qn-banner-cont .main .op a .train_iph{background-position:0 -62px}
#qn-banner-cont .main .op a .train_andr{background-position:-28px -62px}
#qn-banner-cont .qrcode{float:right;text-align:center;color:#fff}
#qn-banner-cont .qrcode img{width:75px;display:block;margin:10px auto 0;padding:4px;background:#fff}
